<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SJWindowPin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SJWindowPin.Properties.Settings>
            <setting name="PosX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PosY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>320</value>
            </setting>
        </SJWindowPin.Properties.Settings>
    </userSettings>
</configuration>